.bg {
	width: 100vw;
	height: 100vh;

	padding: 64px;

	background-color: #B79F92;
}

.pageTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px;

	width: 100%;
	height: 100%;
}