.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;

  padding: 12px;
  
  pointer-events: none;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.label {
  font-family: var(--font-jbmono), "JetBrains Mono", monospace;
  font-size: max(11px, 1.8vmin);
  font-weight: 700;
  color: #653a1b;
}

.value {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-jbmono), "JetBrains Mono", monospace;
  font-size: max(13px, 2.2vmin);
  font-weight: 800;
  transition: color 0.3s ease;
  white-space: nowrap;
  //background: rgba(210, 190, 175, 0.85);
  padding: 1px 6px;
  border-radius: 8px;
}

